<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ECSHOP 管理中心 - 修改</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src='__PUBLIC__/js/jquery-1.4.4.js'></script>
<!-- 引入百度编辑器 -->
<script type="text/javascript" src='__PUBLIC__/ueditor/ueditor.config.js'></script>
<script type="text/javascript" src='__PUBLIC__/ueditor/ueditor.all.min.js'></script>
<script type="text/javascript" src='__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js'></script>
<script type="text/javascript" src='__PUBLIC__/ueditor/btn_config.js'></script>
<!-- //引入百度编辑器 -->
</head>
<body>
<h1>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> 添加 </span>
    <div style="clear:both"></div>
</h1>
<div class="main-div">
    <form method="post" action="__SELF__"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <input type="hidden" name=id value="<?php echo $data['id']?>">            <tr>
                <td>专题名</td>
                <td>            <input type='text' name='subject' maxlength='60' value="<?php echo $data['subject'];?>" />
                </td></tr>            <tr>
                <td>专题概述</td>
                <td>
                <textarea id="editor" name='subcontent'><?php echo $data['subcontent'];?></textarea>
                </td></tr>            
            <tr>
                <td>专题图片</td>
                <td>
                    <input type='file' name='subc_img' value="<?php echo $data['subc_img'];?>" />
                    <img width='50' src="<?php echo IMG_URL.$data['subc_img'];?>" />
                </td>
            </tr>
            <tr>
                <td>专题系列</td>
                <td>
                    <input type='button' onclick='subc_ajax()' value='选专题'/>
                    <input class='subinfo' type='hidden' value='<?php echo $data["subc_info"];?>' />

                </td>
            </tr>
            <tr>
                <td>选题列表</td>
                <td>
                    <div id='subc_list' class='subc_list' style='display:table;'>
                        <div class='list_child' style='display:table-row;'>
                            <div style='display:table-cell;padding:0px 10px 5px 0px;border-bottom:1px dashed blue;'>专题编号</div>
                            <div style='display:table-cell;border-bottom:1px dashed red;'>专题标题</div>
                            <div style='display:table-cell;border-bottom:1px dashed red;'>操作</div>
                        </div>
                        <div style='display:table-row;'>
                            <div class='ajaxcont' style='display:table-cell;padding:0px 10px 5px 0px;border-bottom:1px dashed blue;'>
                            <input type='text' value='12' readonly='readolny' />
                            </div>
                            <div style='display:table-cell;border-bottom:1px dashed red;'><input type='text' value='百里屠苏&&风晴雪' readonly='readolny' />
                            </div>
                            <div class='subc_del' style='display:table-cell;border-bottom:1px dashed red;'>
                            <a href='javascript:void(0)' onclick='confirm("从哪里来回那里去")'>start</a>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>

                <tr>
                <td colspan="2" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="footer">
</div>
</body>
<script type='text/javascript'>
$(function(){
    var id = $('.subinfo').val();
    if(id){
    $.ajax({
        url:'__APP__/Admin/Subject/ajaxlist/id/'+id,
        dataType:'json',
        type:'get',
        success:function(e){
            console.log(e);
            for(var i=0;i<e.length;i++){
                var id = e[i].infoid;
                var title = e[i].title;
                var str = "<div class='list_child' style='display:table-row;'>";
                str += "<div class='ajaxcont' style='display:table-cell;padding:0px 10px 5px 0px;border-bottom:1px dashed blue;'>";
                str += "<input type='text' name='subc_info[]' value='"+id+"' readonly='readolny' />";
                str += "</div><div style='display:table-cell;border-bottom:1px dashed red;'>";
                str += "<input type='text' name='infoname' value='"+title+"' readonly='readolny' />";
                str += "</div><div class='subc_del' style='display:table-cell;border-bottom:1px dashed red;'><a href='javascript:void(0)' onclick='delnode(this)'>去除</a>";
                str += "</div>";
                $('.subc_list').append(str);
            }
            
        }
    });
    }
});

function delnode(node){
    var av = $(node);
    var b = $(av).parent().parent();
    $(b).attr('id','del_self');
    var parent = $(b).parent();
    $(parent).children('div #del_self').remove();
}
function subc_ajax(){
    window.open('__APP__/Admin/Subject/ajax');
}
/**
*   增加一个文本编辑器
*/
$(function(){
// 引入百度编辑器
    UE.getEditor('editor',{
        toolbars:btn_file,
        initialFrameWidth:"80%",
        initialFrameHeight:"200"
    });
});
</script>
</html>